/* ------------------- M A I N ---------------- S T A R T ---- */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,700;1,500;1,600&family=Pacifico&family=Roboto:wght@300;400;500;700&display=swap');
/* 
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Libre Franklin', sans-serif;
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border:none;
    /* color:#3d2929 */
}
:root {
    --background-color: #dbd9d7;
    --background-color-shadow: #585756;
    --creating-gap: 3.5vh;
    --text-color: #353535;  
}

#root {
    padding: 1vh 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: var(--background-color);
}

.app-content {
    display: flex; 
    align-items: flex-start; 
    gap: var(--creating-gap) 
}

/* ------------------- M A I N ---------------- E N D ---- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ------------------- Header ---------------- S T A R T ---- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.7vh;
    margin-bottom: var(--creating-gap);
    width: 136.1vh;
    height: 7vh;
    border-radius: 5.2vh;
    background: var(--background-color);
    box-shadow:  0.54vh 0.54vh 0.7vh var(--background-color-shadow),
                -0.54vh -0.54vh 0.7vh #ffffff;
}

.head-left {
    width: 38.6vh;
    display: flex;
    gap: 1vh;
}

.head-left button {
    height: 4vh;
    background-color: var(--background-color);
    cursor: pointer;
    box-shadow:  0.2vh 0.2vh 0.4vh var(--background-color-shadow),
                -0.2vh -0.2vh 0.4vh #ffffff;
    color: var(--text-color) 
}

.head-left button:hover {
    background-color: rgb(228, 228, 228)
}

.head-left button:active {
    box-shadow: none;
}

.cSSC-btn {
    font-size: 1.8vh;
    border-radius: 3vh;
}

.speed-select {
    width: 16vh;
    height: 4vh;
    border-radius: 3vh;
    padding: 0 1vh;
    background-color: var(--background-color);
    box-shadow:  0.2vh 0.2vh 0.4vh var(--background-color-shadow),
    -0.2vh -0.2vh 0.4vh #ffffff;
    font-size: 1.4vh;
    cursor: pointer;
    color: var(--text-color);
}

.reset-all-btn {
    width: 4vh;
    border-radius: 50%;
    font-size: 1.8vh;
}

.head-right {
    width: 86.4vh;
    text-align: center;
}
.head-right h1 {
    color: var(--background-color);
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 
                  1px 1px 1px rgba(0,0,0,.5);
    font-family: 'Pacifico', cursive;
    font-size: 4.2vh;
    margin-top: -1.8vh;
}
/* ------------------- Header ---------------- E N D ---- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ------------------- Small Ball Section ---------------- S T A R T ---- */
.ball-colection {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    height: 78.6vh;
    width: 89.8vh;
    padding: 1.7vh;
    border-radius: 5.2vh;
    background: var(--background-color);
    box-shadow:  0.54vh 0.54vh 0.7vh var(--background-color-shadow),
                -0.54vh -0.54vh 0.7vh #ffffff;
}

.ball-box {
    width: 9.6vh; 
    height: 7.5vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    border-right: 0.32vh solid rgb(124, 123, 123);
}

.ball-box:nth-last-child(-n + 10) {
    border-right: none
}

.ball-box p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.6vh; 
    height: 2.6vh;
    border-radius: 50%; 
    background-color: rgb(27, 31, 31);
    color: rgb(104, 104, 104);
    font-size: 1.3vh;
    box-shadow: inset -0.53vh -0.53vh 2.15vh rgba(0,0,0,.5);
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
    background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);  
    background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
    background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
}

.ball-active p {
    width: 6.44vh; 
    height: 6.44vh;
    color: var(--text-color);
    font-size: 2.15vh;
}

.ball-active span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.43vh; 
    height: 3.43vh;
    border-radius: 50%;
    background-color: #FFFFFF;
}
/* ------------------- Small Ball Section ---------------- E N D ---- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ------------------- Big Ball Section ---------------- S T A R T ---- */
.big-ball-coll {
    display: flex;
    padding: 1.7vh;
    border-radius: 5.15vh;
    background: var(--background-color);
    box-shadow:  0.54vh 0.54vh 1.07vh var(--background-color-shadow),
                -0.54vh -0.54vh 1.07vh #ffffff;
    margin-bottom: var(--creating-gap);
    position: relative;
}

b.ball {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38.6vh;
    height: 38.6vh;
    border-radius: 50%;
    box-shadow: inset -2.68vh -2.68vh 4.3vh rgba(0,0,0,.5);
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
    background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);  
    background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
    background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
    font-size: 14vh;
    text-shadow: -0.11vh -0.11vh 0.11vh rgba(255,255,255,.1), 0.11vh 0.11vh 0.11vh rgba(0,0,0,.5);
}

.ball p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21.4vh;
    height: 21.4vh;
    border-radius: 50%;
    color: var(--text-color);
    text-shadow: 0.21vh 0.21vh 0 #FFFFFF, 0.53vh 0.43vh 0 rgba(0,0,0,0.15); 
    font-family: 'Libre Franklin', sans-serif;
}
/* ------------------- Big Ball Section ---------------- E N D ---- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ------------------- Checking Section ---------------- S T A R T ---- */

.check-section {
    display: flex;
    flex-direction: column;
    padding: 1.7vh;
    border-radius: 5.15vh;
    background: var(--background-color);
    box-shadow:  0.54vh 0.54vh 1.07vh var(--background-color-shadow),
                -0.54vh -0.54vh 1.07vh #ffffff;
    width: 42vh;
    height: 33.1vh;
    position: relative;
}


.check-btn-section {
    display: flex;
    gap: 1vh;
    margin-bottom: 2.2vh;
}

.check-btn-section button {
    height: 4vh;
    background-color: var(--background-color);
    cursor: pointer;
    box-shadow:  0.2vh 0.2vh 0.4vh var(--background-color-shadow),
                -0.2vh -0.2vh 0.4vh #ffffff;  
    color: var(--text-color);
}

.check-btn-section button {
    width: 16vh;
    font-size: 1.8vh;
    border-radius: 3vh;
}

.check-btn-section button:last-child {
    width: 4vh;
    font-size: 1.8vh;
    border-radius: 50%;
}

.check-btn-section button:hover {
    background-color: rgb(228, 228, 228)
}

.check-btn-section button:active {
    box-shadow: none;
}

.check-input-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    padding: 0 4.3vh;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    width: 5.2vh; 
    height: 5.2vh;
    text-align: center;
    border-radius: 50%;
    font-size: 2.5vh;
    box-shadow:  0.2vh 0.2vh 0.4vh var(--background-color-shadow),
    -0.2vh -0.2vh 0.4vh #ffffff;
    color: var(--text-color)  
}

.steps-counter {
    position: absolute;
    bottom: 0.6vh;
    left: 30vh;
    color: #3b3b3b;
    font-family: 'Pacifico', cursive;
    font-size: 2.4vh;
}

.dev-name p {
    position: absolute;
    display: block;
    bottom: 0.6vh;
    left: 4vh;
    font-size: 2vh;
    color: var(--background-color);
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 
                  1px 1px 1px rgba(0,0,0,.5);
    font-family: 'Pacifico', cursive;
}

/* ------------------- Checking Section ---------------- E N D ---- */
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ------------------- Footer ---------------- S T A R T ---- */
.footer {
    width: 136.1vh;
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
}

.footer span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.7vh;
    height: 3.2vh;
    border-left: 0.001vh solid #707070;
    border-right: 0.001vh solid #707070;
    color:#5e5e5e;
    font-size: 1.4vh;
    margin-bottom: 0.36vh;
}

.footer span:last-child {
    border-right: none;
    color: #630303;
    font-weight: 700;
    border-left: 0.4vh solid #333333;
    font-size: 2.8vh;
    padding: 0 2.5vh;
}

/* ------------------- Footer ---------------- E N D ---- */
















